.container {
  width: 100%;
}

.container h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.container p {
    font-size: 18px;
    text-decoration: underline;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.top .topRight {
  display: flex;
  gap: 10px;
}

.top .topRight button {
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 120px;
    font-size: 16px;
    font-style: bold;
    background-color: #f8f9fa;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.top .topRight button:hover {
    background-color: #adb5bd;
    color: black;
}